* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: rgb(235, 138, 25);
}

main {
  margin-top: 15px;
}

@media (min-width 992px) {
  * {
    margin: 10px!important;
  }
}
